<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Single Grain</title>

    <style>
      body, canvas {
        padding: 0;
        margin: 0;
      }
    </style>

    <%= headScripts.grain %>
    <%= headScripts.sand %>

    <script>

var GROUND_HEIGHT = 50;
var ADD_GRAIN_RATE = 0.5;  // per second
var FRAME_RATE = 10;  // fps

var sand = new Sand();

var drawTheGround = function(options) {
  var canvas = options.canvas;
  var context = options.context;
  context.fillStyle = options.fillStyle;
  context.fillRect(0, canvas.height - options.height, canvas.width, options.height);
};

var addGrain = function() {
  if (sand.status === "started") {
    sand.addGrain({
      moving: true
    });
  }
};

var advance = function() {
  sand.advance();
};

window.addEventListener('load', function() {

  var canvas = document.getElementById('c');
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  sand.canvas = canvas;

  var context = canvas.getContext('2d');
  sand.context = context;

  drawTheGround({
    canvas: canvas,
    context: context,
    fillStyle: "rgba(50,50,50,1.0)",
    borderStyle: "rgba(25,25,25,1.0)",
    height: GROUND_HEIGHT
  });
  sand.setBounds();
  sand.setEdges();
  sand.edges.bottom = {
    type: "container",
    value: [[canvas.width, canvas.height - GROUND_HEIGHT]]
  };

  var addGrainInterval = setInterval(addGrain, 1000.0 / ADD_GRAIN_RATE);
  var frameInterval = setInterval(advance, 1000.0 / FRAME_RATE);

}, false);


    </script>

  </head>
  <body>
    <canvas id="c"></canvas>
  </body>
</html>
