<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Single Grain</title>

    <style>
      body, canvas {
        padding: 0;
        margin: 0;
      }
    </style>

    <%= headScripts.grain %>

    <script>

var S = {};

window.addEventListener('load', function() {

  S.h = window.innerHeight;
  S.w = window.innerWidth;

  S.canvas = document.getElementById('c');
  S.canvas.width = S.w;
  S.canvas.height = S.h;

  S.collisionMatrix = S.

  S.context = S.canvas.getContext('2d');

  S.grains = {
    moving: [],
    stopped: []
  };

  S.grains.moving.push(new Grain({
    context: S.context,
    moving: true
  }));

  S.

  S.next = function() {
    S.grains.forEach(function(grain) {
      grain.next();
      console.log("grain next at location: " + grain.location[0] + " , " + grain.location[1]);
    });
  };

  setInterval(S.next, 100);

}, false);


    </script>

  </head>
  <body>
    <canvas id="c"></canvas>
  </body>
</html>
